body{
  margin:0;
  font-family:Segoe UI, Arial, sans-serif;
  background:#f3f4f6;
}

/* HEADER */
.header{
  position:absolute;
  top:0;
  width:100%;
  background:#8B0000;
  padding:10px 25px;
  color:white;
  font-size:20px;
  display:flex;
  align-items:center;
}

/* LEFT HEADER CONTENT */
.header-left{
  display:flex;
  align-items:center;
  gap:10px;
}

/* LOGO IMAGE */
.logo-img{
  height:40px;
  width:auto;
}

/* TEXT */
.logo-text{
  font-weight:bold;
  font-size:20px;
}
.logo{
  font-weight:bold;
  margin-right:10px;
}

/* PAGE CENTER */
.page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CARD */
.card{
  background:white;
  padding:40px;
  border-radius:12px;
  width:340px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* TITLE */
h2{
  text-align:center;
  margin-bottom:25px;
  color:#8B0000;
}

/* INPUT GROUP */
.input-group{
  margin-bottom:15px;
}

label{
  display:block;
  font-size:14px;
  font-weight:500;
}

input,select{
  width:100%;
  padding:10px;
  margin-top:5px;
  border:1px solid #ccc;
  border-radius:6px;
  outline:none;
}

/* BUTTON */
button{
  width:100%;
  padding:12px;
  background:#8B0000;
  border:none;
  border-radius:6px;
  color:white;
  font-weight:bold;
  cursor:pointer;
  margin-top:10px;
}

button:hover{
  background:#a30000;
}

/* SWITCH TEXT */
.switch{
  text-align:center;
  margin-top:15px;
}

.switch span{
  color:#8B0000;
  cursor:pointer;
  font-weight:bold;
}

/* MESSAGE */
.message{
  text-align:center;
  margin-top:15px;
  color:red;
}

/* TABLE */
table{
  border-collapse:collapse;
  width:100%;
  margin-top:20px;
  font-size:14px;
}

table th{
  background:#8B0000;
  color:white;
  padding:8px;
}

table td{
  border:1px solid #ddd;
  padding:8px;
  text-align:center;
}

.role-options{
  display:flex;
  gap:10px;
  margin-top:8px;
}

.role-card{
  flex:1;
  border:1px solid #ccc;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
  text-align:center;
  background:#f9f9f9;
  transition:0.2s;
}

.role-card:hover{
  background:#ffe5e5;
  border-color:#8B0000;
}

.role-card input{
  margin-right:5px;
}